@import '/src/styles/vars';
@import '/src/styles/temp';

%date {
  font-weight: 700;
  font-size: 200px;
  line-height: 80%;
  text-align: center;
  letter-spacing: -0.02em;
}

.years {
  @extend %flex-center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10ch;
}

.start {
  @extend %date;

  color: $c-date-start;
}

.end {
  @extend %date;

  color: $c-date-end;
}