@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  background-color: #F4F5F9;
  overflow-x: hidden;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

main {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.swiper-pagination {
  @media (max-width: 768px) {
    position: absolute;
    bottom: -60% !important;
    transform: translateY(-100%);
  }
}
.swiper-pagination-bullet-active {
  background-color: #42567A;
}