// colors
$c-white: #FFFFFF;
$c-primary: #42567A;
$c-blue: #3877EE;
$c-date-start: #5D5FEF;
$c-date-end: #EF5DA8;
$bgc-primary: #F4F5F9;
// fonts
$f-primary: 'PT Sans', sans-serif;

//breakpoints
$bp-tablet: 768px;